[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
jinja2 = "*"
tweepy = "*"
flake8 = "*"
spacy = "*"
python-dotenv = "*"
numpy = "==1.19.3"
scipy = "*"
scikit-learn = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.8.6"
